<div class="title">Raffle History:</div><br>
<% current_user.raffles.uniq.each do |raffle| %>
 <% if raffle.winner == current_user.username%>
        <p style="color:green"><strong>WON</strong></p>
        <% else %>
        <p style="color:red"><strong>LOST</strong></p>
            <% end %>
        <p><%= raffle.product_name %></p>
        <br>
        <p><img class="img" src="<%= raffle.product_image%>"></p>
        <br>
    <% end %> 

