

<div class="title">Raffle History:</div><br>
<% current_user.raffles.uniq.each do |raffle| %>
 <% if raffle.winner == @user.username%>
        <p>WON</p>
        <% else %>
        <p>LOST</p>
            <% end %>
        <p><%= raffle.product_name %></p>
        <br>
        <p><img src="<%= raffle.product_image%>"></p>
        <br>
    <% end %> 
 <% if current_user.raffles.has_attribute?("winner") %>
    <p>You haven't participated in any completed raffles!</p>  
    <% end %> 
