<p>Welcome to RaffleMania!</p>

<% if session[:user_id] %>
  <p>Welcome <%= @user.name -%>!</p>
 
<% else %>
  <p><%= link_to 'Log in with GitHub', '/auth/github'%></p>
  <p><%= link_to 'Log in with email and password', '/users/sign_in'%></p>
  <p><%= link_to 'Sign up', '/users/sign_up'%></p>
<% end %>