@font-face {
    font-family: 'roobertregular';
    src: url('roobert-regular-webfont.woff2') format('woff2'), url('roobert-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.square {
    height: 250px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 5px solid black;
}

a:active {
    background-color: 9147ff;
}

body {
    background-color: #1000a3;
    color: black;
    overflow-x: hidden;
    font-family: 'roobertregular';
    font-weight: normal;
}

.topnav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 50p;
    background-color: #dcdcdc;
    font-family: 'roobertregular';
    font-weight: bold;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.nav-item {
    margin-top: .5%;
    margin-left: .5%;
    background-color: #5DADE2;
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 30px;
    cursor: pointer;
    font-family: 'roobertregular';
    border: 1px solid black;
    text-align: center;
    width: 7%;
    float: left;
}

.nav-item2 {
    margin-top: .5%;
    margin-left: .5%;
    background-color: #5DADE2;
    color: white;
    text-decoration: bold;
    font-size: 16px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: 'roobertregular';
    border: 1px solid black;
    text-align: center;
    width: 40%;
}

a {
    color: #1000a3;
    text-decoration: none;
}

a:visited {
    color: white;
}

.nav-item:link {
    color: white;
}

.nav-item2:hover {
    background-color: black;
    color: 242427;
}

.nav-item2:link {
    color: white;
}

.nav-item:hover {
    background-color: black;
    color: 242427;
}

body p {
    font-size: 14px;
    font-weight: normal;
}

.alert {
    margin-top: 3%;
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container {
    background-color: #dcdcdc;
    width: 400px;
    max-width: 90%;
    border: 5px solid black;
    padding: 10px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    color: #1000a3
}

div.container2 {
    background-color: #FFc913;
    width: 30%;
    border: 5px solid black;
    padding: 10px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.left {
    max-width: 22.5%;
}

.mid {
    padding-top: -1%;
    margin-right: 40%;
    margin-left: 40%;
    max-width: 50%;
}

.user {
    float: right;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: normal;
    margin-right: 1%;
    max-width: 30%;
    font-size: 14px
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding-top: 1%;
    padding-bottom: 0;
    margin: auto;
    color: white
}

img {
    height: auto;
    width: auto;
    max-width: 50%;
    text-align: center
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%
}

html {
    min-height: 100%;
}

li {
    text-align: center
}

h1 {
    text-align: center;
    font-weight: bold
}

b {
    text-align: center
}

.medium_ticket {
    height: 30px;
    width: 30px;
    mix-blend-mode: multiply;
}

.small_ticket {
    height: 20px;
    width: 20px;
    mix-blend-mode: multiply;
}

.container3 {
    background-color: #FFc913;
    width: 400px;
    max-width: 10%;
    display: block;
    margin-left: 45.1%;
    margin-top: -.5%;
    text-align: center;
    mix-blend-mode: multiply;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}

@media only screen and (min-width: 321px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

@media only screen and (min-width: 1224px) {}

@media only screen and (min-width: 1824px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {}